body {
    background-color: darkgray;
}

.links {
    margin-left: 90%;
}
a:hover{
    color: black;
}
.container {
    margin: 220px;
    text-align: center;
    padding: 5px;
}
.entry {
    display: block;
    margin: auto;
    width: 50%;
    height: 25px;
    border-radius: 20px;
    border: gray;
}
.button {
    border-radius: 10px;
    border: gray;
    color: darkslategray;
}
}