{% extends "system/layout.html" %}

{% block body %}

    <div>
        <div>
            <h4 class="day-calendar">Availability</h4>
        </div>
        <table id="calendar-ava">
            <tr class="header-calendar-ava">
                <th></th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% for start, finish in hour_choices %}
                <tr>
                    <td>{{ start }} - {{ finish }}</td>
                    <td class="day-hour" data-day="sun" data-hour="{{ start }}"></td>
                    <td class="day-hour" data-day="mon" data-hour="{{ start }}"></td>
                    <td class="day-hour" data-day="tue" data-hour="{{ start }}"></td>
                    <td class="day-hour" data-day="wed" data-hour="{{ start }}"></td>
                    <td class="day-hour" data-day="thu" data-hour="{{ start }}"></td>
                    <td class="day-hour" data-day="fri" data-hour="{{ start }}"></td>
                    <td class="day-hour" data-day="sat" data-hour="{{ start }}"></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock body %}