{% extends "system/layout.html" %}

{% block body %}

    <div>
        <div>
            <h4 class="day-calendar">{{ month }} {{ year }}</h4>
        </div>
        <table id="calendar">
            <tr class="header-calendar">
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% for cal in calendar %}
                <tr>
                {% for day in cal %}
                    {% if day == 0 %}
                        <td></td>
                    {% else %}
                        <td>{{ day }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock body %}