{% extends "system/layout.html" %}
{% load custom_tags %}

{% block body %}

    <div>
        <div id="calendar-title">
            <div>
                <h4 class="day-calendar">{{ month }} {{ year }}</h4>
            </div>
            <div class="legend">
                <fieldset>
                    <legend>Legend:</legend>
                    <ul class="legend-info">
                        <li style="background-color: lightgreen">Group</li>
                        <li style="background-color: hotpink">Area</li>
                        <li style="background-color: lightskyblue">Event</li>
                        <li style="background-color: orange">Project</li>
                    </ul>
                </fieldset>
            </div>
        </div>
        <table id="calendar">
            <tr class="header-calendar">
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% for cal in calendar %}
                <tr>
                {% for day, weekday in cal %}
                    {% if day == 0 %}
                        <td></td>
                    {% else %}
                        <td>
                            <span>
                                {{ day }}
                            </span>
                            <span>
                                <ul>
                                    {% if group_dict|verify:weekday %}
                                        {% with group_list=group_dict|get_item:weekday %}
                                            {% for group in group_list %}
                                                <li style="background-color: lightgreen">
                                                    <a class="list-calendar-info" href="">{{ group.name }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endif %}

                                    {% if area_dict|verify:weekday %}
                                        {% with area_list=area_dict|get_item:weekday %}
                                            {% for area in area_list %}
                                                <li style="background-color: hotpink">
                                                    <a class="list-calendar-info" href="">{{ area.name }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endif %}

                                    {% if event_dict|verify:day %}
                                        {% with event_list=event_dict|get_item:day %}
                                            {% for event in event_list %}
                                                <li style="background-color: lightskyblue">
                                                    <a class="list-calendar-info" href="{% url 'display' event.id %}">{{ event.name }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endif %}

                                    {% if project_dict|verify:day %}
                                        {% with project_list=project_dict|get_item:day %}
                                            {% for project in project_list %}
                                                <li style="background-color: orange">
                                                    <a class="list-calendar-info" href="{% url 'display' project.id %}">{{ project.name }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endif %}
                                </ul>
                            </span>
                        </td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock body %}