{% extends "system/layout.html" %}
{% load custom_tags %}

{% block body %}

    <div>
        <div>
            <h4 class="day-calendar">{{ month }} {{ year }}</h4>
        </div>
        <table id="calendar">
            <tr class="header-calendar">
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% for cal in calendar %}
                <tr>
                {% for day in cal %}
                    {% if day == 0 %}
                        <td></td>
                    {% else %}
                        <td>
                            <span>
                                {{ day }}
                            </span>
                            <span>
                                {% if day in project_dict %}
                                    {% with project_list=project_dict|get_item:day %}
                                        {% for project in project_list %}
                                            <a href="#">{{ project.name }}</a>
                                        {% endfor %}
                                    {% endwith %}
                                {% endif %}

                                {% if day in event_dict %}
                                    {% with event_list=event_dict|get_item:day %}
                                        {% for event in event_list %}
                                            <a href="#">{{ event.name }}</a>
                                        {% endfor %}
                                    {% endwith %}
                                {% endif %}
                            </span>
                        </td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock body %}