{% extends "system/layout.html" %}

{% block body %}
    {% if message %}
        <div>
            <p>404</p>
            <p>Page "{{ message }}" not Found</p> 
        </div>
    {% else %}
        {% if user.is_staff %}
            <div>
                <form>
                    {% csrf_token %}
                    <div id="form-div">
                        {% if intention == 'user' %}
                            <div class="mb-3 row">
                                <label for="username" class="col-sm-2 col-form-label">Username:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="username">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="position" class="col-sm-2 col-form-label">Position:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="position">
                                        <option value="0">Select a position</option>
                                        {% for position in positions %}
                                            <option value="{{ position.id }}">{{ position.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="group" class="col-sm-2 col-form-label">Group:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="group">
                                        <option value="0">Select a group</option>
                                        {% for group in groups %}
                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="area" class="col-sm-2 col-form-label">Area:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="area">
                                        <option value="0">Select a area</option>
                                        {% for area in areas %}
                                            <option value="{{ area.id }}">{{ area.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="email" class="col-sm-2 col-form-label">Email:</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="password" class="col-sm-2 col-form-label">Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="confirmation-password" class="col-sm-2 col-form-label">Confirmation Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="confirmation-password">
                                </div>
                            </div>
                        {% elif intention == 'project' %}
                            <div class="mb-3 row">
                                <label for="name" class="col-sm-2 col-form-label">Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="description" class="col-sm-2 col-form-label">Description:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="description" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="group" class="col-sm-2 col-form-label">Group:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="group">
                                        <option value="0">Select a group</option>
                                        {% for group in groups %}
                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="category" class="col-sm-2 col-form-label">Category:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="category">
                                </div>
                            </div>
                            <div class="row">
                                <label for="start-date" class="col-sm-2 col-form-label">Start Date:</label>
                                <div class="col-sm-2">
                                    <input type="date" class="form-control" id="start-date">
                                </div>
                                <div class="col-sm-2">
                                    <input type="time" class="form-control" id="start-time">
                                </div>
                                <label for="end-date" class="col-sm-2 col-form-label">End Date:</label>
                                <div class="col-sm-2">
                                    <input type="date" class="form-control" id="end-date">
                                </div>
                                <div class="col-sm-2">
                                    <input type="time" class="form-control" id="end-time">
                                </div>
                            </div>
                            <div class="mb-3 row" id="member-table">
                                <label for="members" class="col-sm-2 col-form-label">Members:</label>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="andre" id="members" value="{{ project_user.id }}">
                                        André
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="andre" id="members" value="2137">
                                        Gabi
                                    </div>
                                </div>
                            </div>
                        {% elif intention == 'event' %}
                            <div class="mb-3 row">
                                <label for="name" class="col-sm-2 col-form-label">Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                        {% endif %}
                        <input name="create" class="btn btn-primary" type="submit" value="Create">
                    </div>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock body %}