{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create new Page
{% endblock title %}

{% block body %}
    <div class="container">
        <form action="{% url 'encyclopedia:create' %}" method="POST">
            {% csrf_token %}
            <h2>Create a new Wiki Page</h2>
            <label>Title:</label>
            <input type="text" placeholder="Wiki Title" name="title" required>
            <textarea name="textarea" placeholder="Some Markdown Text" required></textarea>
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock body %}