{% extends "auctions/layout.html" %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const input = document.querySelector('#inputGroupFile02');
            const label = document.querySelector('#label-img');

            input.addEventListener('change', function() {
                if (input.files.length > 0) {
                    label.textContent = input.files[0].name;
                } else {
                    label.textContent = 'Choose image file';
                }
            });
        });
    </script>
{% endblock script %}

{% block body %}
    <h1>Create an Auction</h1>
    <div class="form-create">
        <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Title</span>
                </div>
                <input id="title" type="text" name="title" class="form-control" maxlength="50" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Description</span>
                </div>
                <textarea id="description" name="description" class="form-control" required></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Category</span>
                </div>
                <input type="text" name="category" id="category" class="form-control" maxlength="20">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile02" name="image" accept="image/*">
                  <label class="custom-file-label" id="label-img" for="inputGroupFile02">Choose image file</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Starting Bid</span>
                </div>
                <input id="price" type="number" name="price" min="0" class="form-control" step="0.01" required>
            </div>
            <input type="submit" value="Send" class="btn btn-primary">
        </form>
    </div>
{% endblock  %}