body {
    font-family: 'Roboto' sans-serif;
}

li {
    display: inline-block;
    max-width:80%;
    word-break:break-all;
    border: 1px solid #303030;
    text-align: center;
    border-radius: 10px;
}
li a {
    color: #303030;
    text-decoration: none;
}
li a:hover {
    color: white;
    text-decoration: none;
}
.members-check {
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
}
#member-table {
    margin-top: 5px;
    border: 1px solid #303030;
    border-radius: 15px;
    padding: 20px;
}
#form-div {
    margin-top: 100px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    border: 1px solid #303030;
    border-radius: 15px;
    padding: 20px;
}
#form-div input[type=submit] {
    margin-top: 20px;
}
.day-calendar {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5%;
}
#calendar, #calendar-ava {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
}
#calendar td, #calendar th, #calendar-ava td, #calendar-ava th {
    border: 1px solid #303030;
    padding: 8px;
}
#calendar-ava td {
    background-color: white;
}

#calendar tr:nth-child(even){background-color: #f2f2f2;}

#calendar td:hover {background-color: gray;}

#calendar th, #calendar-ava th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: dimgray;
    color: white;
}
.header-calendar, .header-calendar-ava {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #303030;
}
#projects-views {
    border: 1px solid #303030;
    border-radius: 15px;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
#events-views {
    border: 1px solid #303030;
    border-radius: 15px;
    padding: 15px;
    margin-right: 20px;
}
.information {
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    border: 1px solid #303030;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.list-group-item {
    background-color: gainsboro;
}
.score {
    text-align: center;
    max-width: 250px;
    font-size: 15px;
    border: 1px solid #303030;
    padding: 15px;
    border-radius: 15px;
}
.information span {
    margin-right: 5px;
}
.information form {
    margin-top: 20px;
}
.log-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    padding: 30px;
    text-align: center;
}
.log-container input[type=text], .log-container input[type=password], .log-container input[type=email] {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.icone {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.search-div {
    margin-left: auto;
    margin-right: auto;
}
.main {
    padding: 10px;
    background-color: gainsboro;
}
.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}
.sidebar {
    background-color: darkgray;
    height: 100vh;
    padding: 20px;
    text-align: center;
}
.sidebar a {
    color: #303030;
    text-decoration: none;
    font-size: 20px;
}
.sidebar h2 {
    margin-top: 5px;
}
.sidebar div {
    margin-top: 20px;
}