{% extends "network/layout_posts.html" %}
{% load static %}

{% block content %}
    <div class="post">
        <form id="compose-post">
            {% csrf_token %}
            <div class="form-group">
                <img src="{% static 'network/images/avatar.jpg' %}" alt="ícone avatar" class="icone">
                <textarea maxlength="300" type="text" id="text-post" class="form-control" placeholder="What's happening?"></textarea>
            </div>
            <div id="error"></div>
            <input type="submit" value="Post" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}