{% extends "network/layout_posts.html" %}
{% load static %}


{% block content %}
    <div id="info-profile">
        <h2>Profile</h2>
        <div>
            <p>Username: {{ user_id.username }}</p>
            <div id="follow-profile">
                <span>Followers:</span>
                <span id="followers">{{ followers }}</span>
                <span>Following:</span>
                <span>{{ following }}</span>
            </div>
        </div>
        <br>
        {% if user.id != user_id.id %}
            {% if follow %}
                <div class="follow-but">
                    <button class="btn btn-primary" id="follow-but" data-follow="{{ follow }}" data-following="{{ user_id.id }}" data-userid="{{ user.id }}">Unfollow</button>
                </div>
            {% else %}
                <div class="follow-but">
                    <button class="btn btn-outline-primary" id="follow-but" data-follow="{{ follow }}" data-following="{{ user_id.id }}" data-userid="{{ user.id }}">Follow</button>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}