.log-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 75px;
    padding: 30px;
    text-align: center;
}
.log-container input[type=text], .log-container input[type=password], .log-container input[type=email] {
    width: 300px;
    margin-left: 390px;
}
.post {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 25px;
    border: 1px solid thistle;
    padding: 20px;
    text-align: center;
}
span {
    word-wrap: break-word;
    margin-right: 10px;
}
.post-views {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    border: 1px solid thistle;
    padding: 20px;
    text-align: left;
}
#info-profile {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.post-but {
    margin-bottom: 10px;
}
.like-but {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.like-post {
    margin-right: 10px;
}
.user-id {
    color: darkslategrey;
}
.user-id:hover, .edit-post:hover, .comment-post:hover {
    color: rgb(34, 46, 46);
    text-decoration: none;
}
.comment-post, .timestamp {
    color: rgb(129, 125, 125);
}
.form-group {
    display: flex;
}
.icone {
    width: 60px;
    height: 60px;
}
.icone-like {
    width: 35px;
    height: 30px;
}
textarea {
    max-height: 200px;
    min-height: 65px;
    margin-bottom: 0px;
}
#error {
    display: none;
    background-color: red;
    border: 1px solid black;
    width: 1030px;
    margin-left: 60px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
}